<% provide(:title, "Home") %>
<h1>Bienvenidos</h1>

<%= link_to "team list", teams_path %><br>
<%= link_to "Create a Team", new_team_path  %><br><br>

<%= link_to "league list", leagues_path %><br>
<%= link_to "create a league", new_league_path %><br><br>

<%= link_to "field list", fields_path %><br>
<%= link_to "create a field", new_field_path %><br><br>

<%= link_to "games list", games_path %><br>
<%= link_to "create a game", new_game_path %><br><br>

<%= link_to "auto_schedule", auto_schedule_home_path %><br><br>
