<% action = subr.persisted? ? sub_url(subr) : subs_url %>
<% method = subr.persisted? ? "PATCH" : "POST" %>
<% submit_text = subr.persisted? ? "Edit Subreddit" : "Create Subreddit" %>

<form action="<%= action %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>

  <label for="sub_title">Subreddit title</label><br>
  <input type="text" name="sub[title]" id="sub_title" value="<%=@sub.title %>"><br>

  <label for="sub_description">Description</label><br>
  <textarea name="sub[description]" id="sub_description" value="<%= @sub.description %>">
  </textarea>
    <br>

  <input type="submit" value="<%= submit_text %>">
</form>
