<% if goal.completed %>
  <%= "Completed" %>
<% elsif goal.user_id == current_user.id %>

  <form action="<%= goal_url(goal) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <%= auth_token %>
    <input type="hidden" name="goal[completed]" value="true">
    <input type="submit" value="Done">
  </form>

  <%= button_to "Give Up", goal_url(goal), method: :delete %>

<% else %>

  <%= "Goal in progress" %>

<% end %>
