<% action = goal.persisted? ? goal_url(goal) : goals_url %>
<% method = goal.persisted? ? "PATCH" : "POST" %>
<% button = goal.persisted? ? "Update Goal" : "Make Goal" %>
<% checked = goal.persisted? ? goal.pprivate : false %>

<form action="<%= action %>" method="POST">

  <%= auth_token %>

  <input type="HIDDEN" name="_method" value="<%= method %>">

  <label for="description">Description: </label>
  <input type="text" name="goal[description]" id="description"
    value="<%= goal.description %>">
  <br>
  <input type="radio" name="goal[pprivate]" value="false" id="Public" <%= "CHECKED".html_safe unless checked %> >Public<br>
  <input type="radio" name="goal[pprivate]" value="true" id="Private" <%= "CHECKED".html_safe if checked %>     >Private<br>

  <input type="submit" value="<%= button %>">
</form>
